.row
  .span6
    form#room-form.well.form-inline
      .btn-ish.btn-inverse
        i.icon-tag
      |  You're in the
      input#room.input-small.span2(placeholder="public", autocomplete="off")
      |  channel.
    form#messages.form-inline
      input.input.input-xlarge.span5.left-curves(placeholder="Type here ...")
      button.btn.btn-success.right-curves(type="submit")
        i.icon-comment
    #room-contents
  .span6
    #sheets
