- if (!single)
  li.listing
    .controls
      | #{listing.meta.upvotes} up votes
      a(href=listing.url + '/up') Vote up
      |
      | #{listing.meta.downvotes} down votes
      a(href=listing.url + '/down') Vote down
    .definition
      !=listing.description
- else
  .listing.definition
    !=listing.description
