- if (single)
  .listing
    !=partial('controls', { object: listing.meta })
    .definition
      !=listing.description
- else
  li.listing
    !=partial('controls', { object: listing.meta })
    .definition
      !=listing.description
