- if (single)
  .listing.definition
    !=partial('controls', { object: listing.meta })
    !=listing.description
- else
  li.listing
    !=partial('controls', { object: listing.meta })
    .definition
      !=listing.description
