#content
  h1 New listing for #{move.condition}
  form#listing(action = '/moves/' + move.slug + '/listings', method = 'POST')
    p
      label Description
      textarea.definition(name='listing[description]', rows=8)
    p
      label Preview
      #preview
    input(type='submit', value='New Listing')
    |  
    a(href=move.url) Back