h1 Formatting Help
br
h2 Italics and Bold
p *This is italicised* and so is _this_.
p **This is bold** and so is __this__.
p 
  | Bold 
  strong
    em and 
  | italic is ___this___ or ***this***.
br
h2 Lists
p 
  | A bulleted 
  code &lt;ul&gt; 
  | list:
p - Use a minus sign for a bullet
p + Or a plus sign
p * Or an asterisk
br
p 
  | A numbered 
  code &lt;ol&gt; 
  | list:
p 1. Numbered lists are easy
p 2. Markdown keeps track of the numbers for you
p 7. So this will be item 3.