.span6
  pre
    | You can format the text for this move. Here's how:
    | &nbsp;
    | * **Bold text** is surrounded by two stars.
    | * *Italicised text* is surrounded by one star.
    | * Lists have a blank line before them, &amp; each item has a star at the start of the line.
.span1
  i.icon-arrow-right.gap
  | &nbsp;
.span5
  p You can format the text for this move. Here's how:
  ul
    li
      b Bold text
      |  is surrounded by two stars.
    li
      b Italicised text
      |  is surrounded by one stars.
    li Lists have a blank line before them, &amp; each item has a start at the start of the line.
