!!! 5
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title Hardholder
    != css('screen')
    != js('hardholder')
    link(rel='SHORTCUT ICON', href='/images/hardholder.png')

    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22941220-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body(data-offset="50")
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='/') hardholder.com
          ul.nav
            li(class=category === 'moves' ? 'active' : '')
              a(href="/moves") Moves
            li(class=category === 'play' ? 'active' : '')
              a(href="/play") Play
          .pull-right
            form#search.navbar-search
              input.search-query(type="text", placeholder="Tag search")
            .btn-group.login
              - if (everyauth.loggedIn)
                a.btn.btn-inverse(href='/logout', title='Logout')
                  i.icon-signout
              - else
                a.btn.btn-success(href='/login', title='Login')
                  i.icon-signin
    .container
      !=body
    footer
      .container
        .row
          .span12
            .btn-group
              a.btn(href='http://twitter.com/wombleton') @wombleton
              a.btn(href='http://apocalypse-world.com')
                i.icon-external-link
                |  Apocalypse World
              a.btn(href='/moves/rss')
                i.icon-bookmark
                |  RSS
