!!! 5
html
  head
    title Hardholder
    link(rel='stylesheet/less', href='/less/hardholder.less', type='text/css')
    script(src='/js/less.js')
    script(src='/js/jquery.js')
    script(src='/js/hardholder.js')
  body
    #main!=body