!!! 5
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
    title Hardholder
    link(rel='stylesheet/less', href='/less/style.less', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Special+Elite', rel='stylesheet', type='text/css')
    script(src='/js/less.js')
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22941220-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    #container
      header
        .headline
          #title Apocalypse World Move Dictionary
          form#search
        .nav
          ul
            li
              a(href='/') Home
            li
              a(href='/moves/new') Add
      div#main(role='main')!=body
      footer

    script(src='/js/modernizr.js')
    script(src='/js/jquery.js')
    script(src='/js/hardholder.js')
    