!!! 5
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
    title Hardholder
    link(rel='stylesheet/less', href='/less/style.less', type='text/css')
    link(rel="SHORTCUT ICON", href="/images/hardholder.png")
    
    script(src='/js/less.js')
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22941220-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    #container
      header
        .headline
          a#title(href='/')
            img(src='/images/hardholder.png', height='90px', width='90px')
            img(src='/images/title.png', height='90px', width='403px')
          #controls
            form#search
              - var tags = tags || ''
              input.tags(name='search', placeholder='tag search', value=tags)
              input.search(type='submit', value='Go')
            - var user = user || undefined;
            - if (user)
              a(href='/logout') logout
            - else
              a(href='/login') login
      div#main(role='main')!=body
      footer
        ul
          li
            | By
            a(href='http://twitter.com/wombleton') @wombleton
          li
            | For
            a(href='http://apocalypse-world.com') Apocalypse World
          li
            a(href='/moves/rss') RSS

    script(src='/js/modernizr.js')
    script(src='/js/jquery.js')
    script(src='/js/hardholder.js?v=2')
    script(src='/js/lib/sencha-touch.js')
    
