body, p, td, input {
  font-family: Georgia, Times New Roman, serif;
  font-size: 1em;
  background: #f8f8f8;
}                     
header .nav, header .headline, footer, #main {
  width: 960px;
  margin: 0 auto;
}
                          
p {
  margin: 0 0 1em;
}
ul, ol {
  margin: 0 0 1em 2em;
} 
                                                    
em {
  font-style: italic;
}
a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
header {
  border-bottom: 5px solid #440000;
  margin: 0 0 1em;
  
  #search {
    display: inline-block;
    width: 320px;
  }
  .nav ul {
    margin: 1em 0 0;
    li {
      list-style: none inside;
      display: inline-block;
      margin: 0 0 0 0.5em;
      &:first-child {
        margin-left: 1em;
      }

      a {
        .linear-gradient(#aa0000, #440000);
        
        &.active {
          .linear-gradient(#757575, #4b4b4b);        
        }
        .border-radius(5px, 5px, 0, 0);
        color: white;
        display: block;
        font-weight: bold;
        padding: 0.7em 1.5em;
      }
    }
  }
}

form .move {
  textarea {
    width: 100%;
    background: white;
    border: 1px solid #ccc;
  }
  input {
    font-size: 1.2em;
    width: 100%;       
    background: white;
  }
  .title {
    line-height: 1.6;
    .condition {
      padding: 1em;
    }
    .stat {
    }
    input {
      border: 1px solid #ccc;
    }
  }
}

#preview {
  min-height: 5em;
}

#content {
  width: 700px;
  margin-right: 20px;
  float: left;
}

#sidebar {
  width: 220px;
  float: left;
  margin-right: 20px;
}

.moves {
  margin: 0;
  width: 100%;
}
.move {       
  margin: 0 0 1em;
  .title {
    .condition {                  
      font-family: Verdana, arial, serif;
      text-transform: uppercase;
      a {
        color: black;
        font-weight: bold;
      }  
      padding: 0.5em 1em 0;
      vertical-align: middle;
      .linear-gradient(#fff, #dcdcdc);
      .border-radius(0.5em, 0, 0, 0.5em);
    }                     
    .details {
      .linear-gradient(#fff, #dcdcdc);
      vertical-align: middle;
      text-align: center;
      padding: 0.5em;
      .date {
        white-space: nowrap;
        color: #483d8b;
        font-weight: bold;
      }
      .controls {
        white-space: nowrap;
      }
    }
    .stat {        
      padding: 0.5em;
      vertical-align: middle;
      text-align: center;
      color: white;
      font-weight: bold;            
      .linear-gradient(#757575, #4b4b4b);
      .border-radius(0, 0.5em, 0.5em, 0);
    }
  }
  .definition {   
    padding: 0.5em 1em;
  }
  .src {
    padding: 0 1em;
    .authors {
      margin: 0 5px 0 0;
      float: left;
      .linear-gradient(#4b4b4b, #222);
      color: white;    
      padding: 5px;    
    }    
    .source {
      .linear-gradient(#757575, #4b4b4b);
      float: left;
      a {
        padding: 5px;    
        display: block;
        color: white;
      }
    }
  }
  .edit {
    text-align: center;
    display: none;    
  }

}

.move:hover .edit {
  display: block;
}
.move:hover .date {
  display: none;  
}