body, p, td, input {
  font-family: courier new, courier, monospace;
  font-size: 0.92em;
}
header, footer, #main {
  width: 960px;
  margin: 0 auto;
}

h1 {
  border-bottom: 3px double black;
  text-transform: capitalize;
}
a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
header
  #title {
    background: transparent url('/images/title.png');
    display: inline-block;
    color: transparent;
    height: 100px;
    width: 640px;
  }
  #search {
    display: inline-block;
    width: 320px;
  }
  .nav ul {
    margin: 0 0 1em 0;
    li {
      list-style: none inside;
      display: inline-block;
      margin: 0 1.5em 0 0;

      a {
        background: #ccc;
        border-radius: 3px;
        color: black;
        display: block;
        font-weight: bold;
        padding: 0.7em 1.5em;
      }
    }
  }


form {
  textarea {
    width: 100%;
  }

  label {
    font-size: 0.88em;
    color: #555;
    font-weight: bold;
  }
  .when {
    input {
      font-size: 1em;
      &.wide {
        width: 820px;
      }
    }
    font-size: 2em;
    line-height: 1.6;
  }
}
