p Pick a service to log in via:
ul
  li
    a.twitterbutton(href='/auth/twitter')
      img(src='/images/twitter-signin.png')
  li
    a.facebookbutton(href='/auth/facebook')
      img(src='/images/facebook-connect.png')
