.row
  .span12
    form.form(method='POST', action='/auth/captcha')
      fieldset
        legend Unfortunately we need to check if you're human. This is a once-only check.
        != recaptcha_form

        .form-actions
          button.btn.btn-success(type='submit') I'm human!
