.row
  .span9
    - if (moves.length === 0)
      .row.well
        .span8
          p Nothing here but the howling wind
    - else
      - for (var i = 0; i < moves.length; i++)
        !=partial('move', { object: moves[i], single: true })
  .span3
    p
      | This site is to collect custom moves for the
      a(href='http://apocalypse-world.com') Apocalypse World
      |  roleplaying game.
    p You can add your own custom move! All you need to do is say what happens on a 10+ (success) or on a 7-9 (partial success).
    p
      a.btn.btn-large.btn-success(href='/moves/new') Add New Move
