#content
  table.moves
    col(width='4*')
    col(width='1*')
    col(width='1*')
    - for (var i = 0; i < moves.length; i++)
      tbody.move
        !=partial('move', { object: moves[i], single: true })
#sidebar