#content
  form#move(action = '/moves', method = 'POST')
    table.moves
      col(width='560')
      col(width='140')
      tbody.move
        tr.title
          td.condition
            input(name='move[condition]')
          td.stat
            input(name='move[stat]')
        tr
          td.definition(colspan=2)
            textarea(name='move[definition]', rows=8)
    h1 Preview
    #preview
    input(type='submit', value='New Move')
#sidebar
  !=partial('../editing-hints.jade')