.row
  .span6
    form.move(action = '/moves', method = 'POST')
      label Name
      input.span6(name='move[condition]', placeholder='When you make a move on hardholder.com ...')
      label Content
      textarea.span6(name='move[definition]', rows=8, placeholder='When **you make a move**, roll +hot. On a 10+, it works. On a 7-9, it mostly works.')
      label Tags (optional; space-separated)
      input.span6(name='move[tags]')
      label Authors (optional)
      input.span6(name='move[authors]')
      label Source (optional)
      input.span6(name='move[source]')
      br
      input.btn.btn-success.btn-large(type='submit', value='Save')
  .span1
    i.icon-arrow-right.gap
    | &nbsp;
  #preview.span5
    | &nbsp;
.row.editing-hints
  !=partial('../editing-hints.jade')
