#content
  form#move(action = '/moves', method = 'POST')
    table.moves
      tbody.move
        tr.title
          td.condition
            input(name='move[condition]', placeholder='MAKE A MOVE')
        tr
          td.definition
            textarea(name='move[definition]', rows=8, placeholder='When **you make a move**, roll +hot. On a 10+, it works. On a 7-9, it kinda works.')
        tr
          td.authors
            label Authors (optional)
            input(name='move[authors]')
        tr
          td.authors
            label Source (optional)
            input(name='move[source]')
    h1 Preview
    #preview
    input.save(type='submit', value='Save')
#sidebar
  !=partial('../editing-hints.jade')