#content
  form#move(action = '/moves', method = 'POST')
    table.moves
      col(width='550px')
      col(width='150px')
      tbody.move
        tr.title
          td.condition
            input(name='move[condition]')
        tr
          td.definition
            textarea(name='move[definition]', rows=8)
    h1 Preview
    #preview
    input.save(type='submit', value='Save')
#sidebar
  !=partial('../editing-hints.jade')