h1 New move
form#move(action = '/moves', method = 'POST')
  .when
    | When
    input.wide(name='move[condition]')
    | &nbsp; ...
    | roll
    input(name='move[roll]', size=3)
  label On a 10+
  textarea(name='move[success]')
  label On a 7-9
  textarea(name='move[partial]')
  label On a miss
  textarea(name='move[failure]')
  input(type='submit', value='New Move')
  