.move
  h1.title
    a(href=onelistingmove.url) When #{onelistingmove.condition} ...

  - var listing = onelistingmove.toplisting
  - if (listing)
    !=partial('../listings/listingbody', { object: listings[listing] })
  - else
    p No listing yet -- add one!