-if (errors.length > 0)
  .row
    .span5
      - for (var i = 0; i < errors.length; i++)
        label.label.label-warning=errors[i]
!=partial('move', { object: move, width: 5, single: true, nolinks: true })
