-if (errors.length > 0)
  ul.errors
    - for (var i = 0; i < errors.length; i++)
      li=errors[i]
table.moves
  col(width='550px')
  col(width='150px')
  tbody.move
    tr.title
      td.condition
        #{move.condition}
      td.stat
        +#{move.stat}
    tr.def
      td.definition(colspan=3)!=move.definition